/* Подключение шрифтов */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/PlusJakartaSans-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/PlusJakartaSans-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}